.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: rgb(226, 243, 255);
  color: black;
  font-weight: 600;


  img {
    margin: 0 16px;
    width: 100px;
  }

  span {

  }
  .current-user {
    position: absolute;
    right: 20px;
    margin: 0;
  }
}


