<div class="wrapper-form">
    <div class="form-login">
        <form [formGroup]="loginForm" (ngSubmit)="login(); hover.appValueVar = false">
            <p class="intro-form">Connexion au BackOffice Unkle</p>
            <div>
                <mat-form-field id="email-field"
                                #hoverMail="valueVar"
                                [appValueVar]="false"
                                (mouseover)="hoverMail.appValueVar = true"
                                (mouseout)="hoverMail.appValueVar = false">
                    <mat-label>
                        mail</mat-label>
                    <app-custom-tooltip
                            [idTooltip]="'tooltip-email-field'"
                            [idParent]="'email-field'"
                            [width]="100"
                            [minWidth]="50"
                            [maxWidth]="400"
                            [content]="'Email doit être au format xxxx@xxx.xx'"
                            [position]="'right'"
                            [display]="hoverMail.appValueVar">
                    </app-custom-tooltip>
                    <input type="email" formControlName="email" matInput>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>mot de passe</mat-label>
                    <input type="password" formControlName="password" matInput>
                </mat-form-field>
            </div>
            <button id="button-login"
                    #hover="valueVar"
                    [appValueVar]="false"
                    (mouseover)="hover.appValueVar = true"
                    (mouseout)="hover.appValueVar = false"
                    type="submit" mat-raised-button>Se connecter
            </button>
                <app-custom-tooltip
                        [idTooltip]="'tooltip-login'"
                        [idParent]="'button-login'"
                        [width]="100"
                        [minWidth]="50"
                        [maxWidth]="400"
                        [content]="'Connexion au Back Office Unkle'"
                        [position]="'bottom'"
                        [display]="hover.appValueVar">
                </app-custom-tooltip>
        </form>
    </div>
</div>
