.wrapper-form {
  text-align: center;

  .intro-form {
    font-weight: bold;
    font-size: 16px;
  }

  .form-login {
    width: 300px;
    margin: auto;

    ::ng-deep {
      button {
        background-color: #e2f3ff;
      }
    }

    .test {
      width: 200px;
      margin: auto;
    }
  }


}
