<div class="wrapper-form">
    <div class="form-login">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <p class="intro-form">Connexion au BackOffice Unkle</p>
            <div>
                <mat-form-field>
                    <mat-label>mail</mat-label>
                    <input type="email" formControlName="email" matInput>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>mot de passe</mat-label>
                    <input formControlName="password" matInput>
                </mat-form-field>
            </div>
<!--            <button #hover="valueVar" [appValueVar]="true" (mouseover)="hover.appValueVar = true;" (mouseout)="hover.appValueVar = false;" type="submit" mat-raised-button>Se connecter</button>-->
<!--            <div>-->
                <button id="button-login"  #hover="valueVar" [appValueVar]="true"  type="submit" mat-raised-button>Se connecter</button>
                <app-custom-tooltip
                        *ngIf="hover.appValueVar"
                        [idTooltip]="'tooltip-login'"
                        [idParent]="'button-login'"
                        [width]="100"
                        [minWidth]="50"
                        [maxWidth]="400"
                        [content]="'test'"
                        [position]="'right'"
                        ></app-custom-tooltip>
<!--                <div style="margin-top: 100px">-->
<!--                    <p  #test="valueVar" [appValueVar]="true"  id="id-test">Ceci est un nouveau test</p>-->
<!--                    <app-custom-tooltip [idTooltip]="'tooltip-test'" [idParent]="'id-test'" [width]="100" [minWidth]="50" [maxWidth]="150" *ngIf="test.appValueVar"></app-custom-tooltip>-->

<!--                </div>-->
<!--            </div>-->




<!--            <ng-container *ngIf="hover.appValueVar">-->
<!--                <p>Ici Test</p>-->
<!--            </ng-container>-->
<!--            <button matTooltip="Info about the action" type="submit" mat-raised-button>Se connecter</button>-->
        </form>
    </div>
</div>
