<div class="wrapper-home" *ngIf="isLoaded">
    <p>Bonjour {{globalDataService?.userConnected?.email}}</p>
    <ng-container *ngIf="globalDataService?.userConnected?.role === 'admin'">
        <p>En tant qu'admnistrateur du BackOffice Unkle, vous avez la possibilité de voir le listing de tous les utilisateurs. Cliquez sur un utilisateur pour avoir son détail</p>
        <app-users></app-users>
    </ng-container>
    <ng-container *ngIf="globalDataService?.userConnected?.role === 'customer'">
        <p>Vous voici sur votre espace client. Vous pouvez ici voir vos contrats et le(s) résilier si vous le souhaitez. Acceder à vote profil en cliquant ci dessous</p>
    </ng-container>
    <div class="block-cta">
        <button id="button-profile" #hoverBtnProfile="valueVar"
                [appValueVar]="false"
                (mouseover)="hoverBtnProfile.appValueVar = true;"
                (mouseout)="hoverBtnProfile.appValueVar = false" (click)="viewProfile()" color="primary" mat-raised-button>Voir mon profil
        </button>
        <app-custom-tooltip
                [idTooltip]="'tooltip-btn-profile'"
                [idParent]="'button-profile'"
                [width]="200"
                [minWidth]="50"
                [maxWidth]="400"
                [content]="'Voir en détail le profil utilisateur'"
                [position]="'left'"
                [display]="hoverBtnProfile.appValueVar">
        </app-custom-tooltip>
    </div>

</div>
