<div class="wrapper-profile">
   <h1>Information concernant l'utilisateur</h1>
    <mat-card class="card-user">
        <mat-card-subtitle>
            <p>Utilisateur</p>
        </mat-card-subtitle>
        <mat-card-title>
            <span class="user-email">{{user?.email}}</span>
        </mat-card-title>
        <mat-card-content>
            <div class="info-user">
                <p>Role: {{user?.role}}</p>
            </div>
            <ng-container *ngIf="globalDataService?.userConnected?.role === 'admin'">
                <button  (click)="deleteUser()"
                        id="btn-delete-user"
                        #hoverDelete="valueVar"
                        [appValueVar]="false"
                        (mouseover)="hoverDelete.appValueVar = true"
                        (mouseout)="hoverDelete.appValueVar = false"
                        color="primary" mat-raised-button>Supprimer l'utilisateur
                </button>
                <app-custom-tooltip
                        [idTooltip]="'tooltip-delete-user'"
                        [idParent]="'btn-delete-user'"
                        [width]="200"
                        [minWidth]="50"
                        [maxWidth]="400"
                        [content]="'Supprimer définitivement cet utilisateur'"
                        [position]="'bottom'"
                        [display]="hoverDelete.appValueVar">
                </app-custom-tooltip>

            </ng-container>
        </mat-card-content>
    </mat-card>
   <app-contracts *ngIf="user" [user]="user" ></app-contracts>
   <button  *ngIf="globalDataService?.userConnected?.role === 'admin'" (click)="displayContracts = true" color="primary" mat-raised-button>Créer un contrat pour l'utilisateur</button>

    <ng-container *ngIf="displayContracts">
        <app-contract (onClose)="onUpdateContract($event)" *ngIf="user" [user]="user" ></app-contract>
    </ng-container>


</div>
