<div class="wrapper-contract">
    <mat-card class="card-contract">
        <mat-card-subtitle>
            <p>Nouveau Contrat Unkle</p>
        </mat-card-subtitle>
        <mat-card-title>
            <span class="contract-label">Contrat d'assurance</span>
        </mat-card-title>
        <mat-card-content>
            <div>
                <h2>Choix du type de contrat</h2>
                <mat-radio-group aria-label="Select an option">
                    <ng-container *ngFor="let contract of globalDataService.contracts; let i = index">
                        <div class="list-btn-radio">
                            <mat-radio-button  value={{contract.value}} (change)="onSelectContract($event.value)"
                                               id="button-radio-contract-{{i}}"
                                               #hoverTypeContract="valueVar"
                                               [appValueVar]="false"
                                               (mouseover)="hoverTypeContract.appValueVar = true"
                                               (mouseout)="hoverTypeContract.appValueVar = false">
                                <p>Le contrat  {{contract.value}} : Un contrat {{contract.label}}</p>
                            </mat-radio-button>
                            <app-custom-tooltip
                                    idTooltip="tooltip-type-contract-{{i}}"
                                    idParent="button-radio-contract-{{i}}"
                                    [width]="400"
                                    [minWidth]="50"
                                    [maxWidth]="400"
                                    content="{{contract.descriptionTooltip}}"
                                    [position]="'right'"
                                    [display]="hoverTypeContract.appValueVar">
                            </app-custom-tooltip>
                        </div>
                    </ng-container>
                </mat-radio-group>
            </div>
            <mat-divider inset></mat-divider>
            <div class="block-options">
                <h2>Choix des options (facultatif)</h2>
                <mat-form-field appearance="fill">
                    <mat-label>Options</mat-label>
                    <mat-select [formControl]="optionsForm"
                                (selectionChange)="onSelectOptions($event.value)"
                                multiple>
                        <mat-option *ngFor="let option of globalDataService.options"
                                    [value]="option">{{option.description}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <mat-divider inset></mat-divider>
            <div class="block-date">
                <h2>Choix des date</h2>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Date de début</mat-label>
                        <input matInput [(ngModel)]="dateStart" [matDatepicker]="pickerStart">
                        <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                        <mat-datepicker #pickerStart></mat-datepicker>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Date de fin</mat-label>
                        <input matInput [(ngModel)]="dateEnd" [matDatepicker]="pickerEnd">
                        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                        <mat-datepicker #pickerEnd></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <button [disabled]="!this.contractSelected || !this.dateStart"
                    id="button-create-contract"
                    #hoverContract="valueVar"
                    [appValueVar]="false"
                    (mouseover)="hoverContract.appValueVar = true"
                    (mouseout)="hoverContract.appValueVar = false"
                    (click)="hoverContract.appValueVar = false; onValidContract()" color="primary" mat-raised-button>
                Créer le contrat</button>
            <app-custom-tooltip
                    [idTooltip]="'tooltip-create-contract'"
                    [idParent]="'button-create-contract'"
                    [width]="100"
                    [minWidth]="50"
                    [maxWidth]="400"
                    [content]="'Confirmer la création du contrat'"
                    [position]="'left'"
                    [display]="hoverContract.appValueVar">
            </app-custom-tooltip>
        </mat-card-content>
    </mat-card>
</div>


<ng-template #invalidDate>
    <h1>Creation du contrat impossible</h1>
    <p>La date de fin du contrat est inférieure à la date de début ! Merci de resaisir une date cohérente</p>
</ng-template>
